@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);


body{
	font-family:'Amiri', serif;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-family:'Amiri', serif;
	font-weight: 600;
}


.content .navbar .navbar-brand{
	padding-left: 0;
font-family:'Amiri', serif;	font-size: 1.8em;
	float: none;
	line-height: 10px;
	height: 0px;
	-webkit-transition: font-size 0.4s ease;
       -moz-transition: font-size 0.4s ease;
         -o-transition: font-size 0.4s ease;
            transition: font-size 0.4s ease;
}

.header{
	width: 100%;
	position: absolute;
	position: fixed;
	z-index: 999;
	top:0;

	background-color: #fff;
	width: 100%;
}
.content{
	width: 940px;
	margin: auto;
}

.content h4{
	margin: 20px 0;
	color: #e54e53;
}

.content h4 i{
	font-size: 25px;
	margin-right: 10px;
	width: 20px;
}

.col-md-6{
	padding-left: 40px;
	padding-right: 40px;
}
.content h2{
	color: #e54e53;
	font-size: 20px;
}

.content .navbar{
	margin: 0;
	background: none;
	border: 0;
	height: 0px;
	padding: 13px 0;
	padding-bottom: 5px;
}

.content .navbar .navbar-brand{
	padding-left: 0;
	color: #0f0;
	font-weight: 900;
}
.content .navbar-nav a{
	color: #fff !important;
	font-weight: 300 !important;
	font-size: 13px;
}

.content .navbar-nav a:hover{
	background: rgba(0,0,0,.07) !important;
}

.content .navbar-nav li.active a{
	background: rgba(0,0,0,.07) !important;	
}

.navbar-toggle:focus{
	background: none !important;
	outline: 0;	
}

.navbar-toggle:hover{
	background: rgba(0,0,0,.07) !important;
}

.navbar-toggle{
	border-color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff !important;
}


.section{
	background: #fff;
	width: 100%;
	padding: 0px 0px;
}

.section h2{
	margin-top: 0;
}
/* app css stylesheet */
.txtWrapper {
    background: #A52121;
    border: 1px solid #213143;
    padding: 0px;
    margin: 0px;
}
.txtWrapper textarea {
  background: #fff;
	border: 1px solid #000;
	box-sizing: border-box;
	height: 200px;
	padding: 20px;
	text-align: right;
	width: 100%;
  font-family:'Amiri', serif;
}
.txtTools{
    background: #A52121;  
    border: 1px solid #042245;
    box-shadow: 1px 0 0 #577b99, -1px 0 0 #577b99, 0 1px 0 #577b99, 0 -1px 0 #577b99, 0 1px 0 #8e9cad inset, 0 -1px 0 #8e9cad inset, 1px 0 0 #8e9cad inset, -1px 0 0 #8e9cad inset;
    font-size: 14px;
    margin: 0px 0;
    padding: 5px;
    padding-left:0px; 
}
.txtTools > div ul {
    margin: 4px;
    margin-left:0px; 
}
.txtTools > div ul li {
    display: inline-block;
    margin-right:2px; 
}
.txtTools > div ul li a {
    padding: 5px;
}
.keyboardArea {
  text-align: right;
  direction: ltr;


}
.keyWrapper{
	position: relative;
	padding: 5px;
	margin: 0 0 10px;
  background: #000;      
  width:100%;
  color:white;
  border-style:groove; 
  z-index: 999;

}
.keyWrapper a{
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  
  font-family:'Amiri', serif;
  font-size: 25px;
  height: 40px;
  /*line-height: 30px;*/
  margin: 0 1px 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50px;
  transition: 0.25s;
}
.arabicKey {
    position: absolute;
    right: 5px;
    top: 0;
    color:white;
}
.keyWrapper a:hover .arabicKey{
  color: blue;
  font-size: 26px;
}



.tKey li {
border-bottom: 1px solid rgba(0, 0, 0, 0.17);
color: #fff;
display: inline-block;
font-size: 10px;
line-height: 13px;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
}
.tKey {
border-right: 1px solid rgba(0, 0, 0, 0.17);
box-sizing: border-box;
font-family: "trebuchet ms";
height: 100%;
overflow: hidden;
padding: 0;
position: absolute;
text-align: left;
top: 0;
width: 18px;
}
.tKey ul {
    line-height: 0;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 0;
	bottom: auto;
	width: 100%;
	transition: 2s;
}

.tKey li:last-child {
    border-right: 0 none;
}






/* keyboard styles */
/* app css stylesheet */

@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
body{
  font-family:'Amiri', serif;
}
.txtWrapper {
    background: #A52121;
    border: 1px solid #213143;
    padding: 0px;
    margin: 0px;
}
.txtWrapper textarea {
  background: #fff;
	border: 1px solid #000;
	box-sizing: border-box;
	height: 200px;
	padding: 20px;
	text-align: right;
	width: 100%;
  font-family:'Amiri', serif;
}
.txtTools{
    background: #A52121;  
    border: 1px solid #042245;
    box-shadow: 1px 0 0 #577b99, -1px 0 0 #577b99, 0 1px 0 #577b99, 0 -1px 0 #577b99, 0 1px 0 #8e9cad inset, 0 -1px 0 #8e9cad inset, 1px 0 0 #8e9cad inset, -1px 0 0 #8e9cad inset;
    font-size: 14px;
    margin: 0px 0;
    padding: 5px;
    padding-left:0px; 
}
.txtTools > div ul {
    margin: 4px;
    margin-left:0px; 
}
.txtTools > div ul li {
    display: inline-block;
    margin-right:2px; 
}
.txtTools > div ul li a {
    padding: 5px;
}
.keyboardArea {
  text-align: right;
  direction: ltr;


}
.keyWrapper{
	position: relative;
	padding: 5px;
	margin: 0 0 10px;
  background: #000;      
  width:100%;
  color:white;
  border-style:groove; 
  z-index: 999;

}
.keyWrapper a{
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  
  font-family:'Amiri', serif;
  font-size: 25px;
  height: 40px;
  /*line-height: 30px;*/
  margin: 0 1px 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50px;
  transition: 0.25s;
}
.arabicKey {
    position: absolute;
    right: 5px;
    top: 0;
    color:white;
}
.keyWrapper a:hover .arabicKey{
  color: blue;
  font-size: 26px;
}



.tKey li {
border-bottom: 1px solid rgba(0, 0, 0, 0.17);
color: #fff;
display: inline-block;
font-size: 10px;
line-height: 13px;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
}
.tKey {
border-right: 1px solid rgba(0, 0, 0, 0.17);
box-sizing: border-box;
font-family: "trebuchet ms";
height: 100%;
overflow: hidden;
padding: 0;
position: absolute;
text-align: left;
top: 0;
width: 18px;
}
.tKey ul {
    line-height: 0;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 0;
	bottom: auto;
	width: 100%;
	transition: 2s;
}

.tKey li:last-child {
    border-right: 0 none;
}





